<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wikitan</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="container" id="app">
        <a href="https://en.wikipedia.org/wiki/Special:Random" target="blank"><button class="btn btn-default" id="rand">Click for random</button></a>
        <div>
            <input id="searchTerm" class="form-control">
            <button id="search" type="button" class="btn btn-primary"><span class="fa fa-search"></span></button>
        </div>
        <ul class="out-result">
        </ul>
    </section>
</body>
</html>